*

!.obsidian.vimrc

!.obsidian/
!.obsidian/*
!.obsidian/*/*
!.obsidian/*/*/*
!.obsidian/*/*/*/*


!.git
!.git/
!.git/*
!.git/*/*
!.git/*/*/*

!.gitignore

!.github/
!.github/*


!*Assets
!*Assets/*
!*Assets/*templates*/*

.DS_Store
.obsidian/workspace.json
